body {
    background-color: black;
    color: white;
}
    .games-grid

{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
}

.game-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: #333333;
    color: white;
}

leaderTable {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: darkcyan;
}

.gameImg {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
}

tbody tr:hover {
    background-color: #f1f1f1; 
    cursor: pointer; 
    transition: background 0.3s; 
}

